.ejs-atari {
    max-width: 100%;
    aspect-ratio: 1.333;
}
/* .ejs-atari-stella2014 {} */
/* .ejs-atari-a5200 {} */
/* .ejs-atari-prosystem {} */
/* .ejs-atari-virtualjaguar {} */
/* .ejs-atari-handy {} */
