.ejs-commodore {
    max-width: 100%;
    aspect-ratio: 1.333;
}
/* .ejs-commodore-vice_x64sc {} */
/* .ejs-commodore-vice_x64 {} */
/* .ejs-commodore-vice_x128 {} */
/* .ejs-commodore-puae {} */
/* .ejs-commodore-vice_xpet {} */
/* .ejs-commodore-vice_xplus4 {} */
/* .ejs-commodore-vice_xvic {} */
